body {
  margin:0;
  padding:50px 0 0 0;
  background:#f7f7f7;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}
body#non-home{
  padding:100px 0 0 0;	
}

/* common */
body,h1,h2,h3,h4,h5,p,small,strong{
  letter-spacing: -0.2px;
  font-weight:300;
  font-family: 'Adelle', sans-serif;
}
h1,h2,h3,p{
  margin: 0 0 20px 0;
}
h1,h2,h3{
  font-weight: 300;
}
h2{
  font-size:30px;
}
h3{
  margin-bottom: 15px;
  font-size:20px;
}
h4{
  font-size:14px;
  line-height:1.3em;
}
p{
  color:#555;
  font-size:13px;
  line-height:20px;
}

footer p {
	color:#999;
}

a{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a, a:hover, a:hover, a:focus{
  text-decoration:none;
}
strong{
  font-weight:600;	
}
img{
  max-width: 100%;
  height: auto;
}

/* bootstrap reset */
.container > .navbar-header, .container > .navbar-collapse{
  margin-right:0;
  margin-left:0;	
}
.container{position:relative;}
.btn.no-click{cursor:default;}
.btn.no-click:hover{background:inherit;}
@media (min-width: 768px){
  .navbar-nav > li > a {
    padding-top: 14px;
  }
}



/* header */
#header{
  display:block;
  height:50px;
  background: url('images/darknoise.jpg');
}
  #logo{
    float: left;
    margin-top:16px;
	margin-bottom:0;
	color:#000;
	font-weight:600;
	font-size:16px;
	font-family: 'Adelle', sans-serif;
  }
  #logo a{color:#fff;}
  #header .header-nav, #header .header-cta{ float:right;}
  #header .header-cta {padding:8px 0;}
  #header .header-cta > button:first-child{margin-right:8px;}
  #non-home #header .header-nav{margin:0;}
  #header .header-nav > li{display:inline-block; float:left; list-style:none;}
  #header .header-nav > li{padding:10px 20px;line-height:30px;}
  #header .header-nav > li{border-right:1px solid #444;}
  #header .header-nav > li:last-child{border:none;}
  #header .header-nav > li.chart{ padding-left:30px; background:url(images/icon-chart-light-grey.png) 0 50% no-repeat;}
  #header .header-nav > li a{color:#fff;opacity:0.85;-webkit-transition:.5s;transition:.5s;-webkit-}
  #header .header-nav > li a:hover{opacity:1;}
  #header .header-nav > li a:hover{color:#ccc;}
  #header .main-nav{float:left; margin:0; padding:2px 0;}
  #header .main-nav > li{display:inline-block; float:left; margin-right:30px; list-style:none;}
  #header .main-nav a{color:#fff; font-weight:300; font-size:20px;font-family:"Proxima Nova";}
  #header .main-nav a:hover{color:#ccc;}
  #header .account .account-img{ 
	display:block;
	float:left;
	margin-right:10px;
	width:30px;
	height:30px;
  }
  #header .account.active, #header .account:hover{
	background: #fdfdfd;
  }
  #header .account > a{
	display:block;
	color:#fff;
	font-weight:600;  
  }
  #header .account.active a, #header .account a:hover{color:#000 !important;}
  #header .account .caret{
	margin-left:10px;
	width:11px;
	height:7px;
	border:none;
	background:url(images/arrow-account-dropdown.png) 0 -7px no-repeat;
  }
  #header .account.active .caret{
	background:url(images/arrow-account-dropdown.png) 0 0 no-repeat;  
  }
  .account .dropdown-menu{
    right:0;
    left: inherit;
	margin:0;
	padding:20px 0;
	min-width:210px;
	border:none;
	border-top-left-radius:0;
	border-top-right-radius:0;
	background-color:rgba(255,255,255,0.98);
    -webkit-box-shadow: none;
    box-shadow: none;
	font-size:13px;
  }
  .account .dropdown-menu > li{
	padding:0 24px;  
  }
  .account .dropdown-menu > li > a{
	padding:6px 0;
	background-image: url(images/icon-group-account.png);
	background-position: right 0;
	background-repeat:no-repeat;  
  }
  .account .dropdown-menu > li > a.profile{	background-position: right 0; }
  .account .dropdown-menu > li > a.setting{	background-position: right -30px; }
  .account .dropdown-menu > li > a.product-listings{ background-position: right -60px; }
  .account .dropdown-menu > li > a.purchases{ background-position: right -90px; }
  .account .dropdown-menu > li > a.sales{ background-position: right -120px; }
  .account .dropdown-menu > li > a.credits{ background-position: right -150px; }
  .account .dropdown-menu > li > a.sign-out{ background-position: right -180px; }

/* slider */
#slider{
  position:relative;
  display:block;
  clear:both;
  width:100%;
}
#slider .search-wrapper{
  position:absolute;
  top:0;
  bottom:0;
  z-index:9;
  display:table;
  margin:auto;
  width:100%;
  height:100%;
}
#slider .search-widget{
  display:table-cell;
  color:#fff;
  vertical-align:middle;
  text-align:center;
}
.search-info-text{
  color: #ccc;
}
.search-info-text h2{
  margin-bottom: 0;
  color: #fff;
  font-weight: 400;
  font-size: 72px;
  line-height:68px;
}
.search-info-text h3{
  margin-bottom: 20px;
  color: #fff;
  font-size: 35px;
}
.search-info-text p{
  font-size:18px;	
}
.search-bar{
  display: inline-block;
  float: none;
  margin: 0 auto;
}
.search-bar input[type="text"], .search-bar input[type="submit"], .search-bar select{
  display: inline-table;
  float: left;
  border: none;
  border-radius: 4px;
}
#non-home .search-bar input[type="text"], #non-home .search-bar input[type="submit"], #non-home .search-bar select{
  border-radius: 2px;	
}
.search-bar input[type="text"]{
  padding: 10px;
  padding-right: 100px;
  padding-left: 40px;
  min-height: 50px;
  background: #fff url(images/icon-search.png) 15px 50% no-repeat;
  color: #aaa;
  font-size: 15px;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  transition:.5s;
}

.search-bar input[type="text"]:focus{
  color:#555;
}

#non-home .search-bar input[type="text"]{
  padding-top: 13px;
  padding-right: 60px;
  padding-left: 40px;
  min-height:30px;
  font-size:14px;
}
.search-bar select{
  position: absolute;
  z-index: 999;
  margin-top: 12px;
  margin-left: -94px;
  padding: inherit;
  padding:3px 6px;
  min-width: 80px;
  outline: none;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #ebebeb;
  border-radius: 0;
}
.search-bar .file-type-options{
  position:absolute;
  right:163px;
  z-index:10;
  margin-top:8px;
  padding-left:16px;
  width:140px;
  border-left:1px solid #eee;
}
#non-home .search-bar .file-type-options{
  position:absolute;
  right:98px;
  z-index:10;
  margin-top:10px;
  padding:0 0 0 10px;
  width:120px;
  border-left:1px solid #eee;
}
.search-bar input[type="submit"]{
  padding-right: 40px;
  padding-left: 40px;
  min-height: 50px;
  background: #4863A0;
  color: #fff;
  font-size: 20px;
}
#non-home .search-bar input[type="submit"]{
  padding-right: 20px;
  padding-left: 20px;
  min-height: 34px;
  background: #4863A0;
  color: #fff;
  font-size: 14px;
}
#non-home .wrapper-custom-select-box .dropdown{
  top: 145%;	
}

/* HEADER SEARCH BAR */
.header-search-bar{
  padding:15px 0;
  background:url(images/texture.png) #000;	
}

#main{
  display:block;
  float:left;
  padding:60px 0;
  width:100%;
}
.main-content .listing-detail{
  margin-bottom:30px;
  background:#fff;	
}
.main-content .listing-detail .listing-detail-metas{
  padding:15px;	
}
  
  
/* tabs */
ul.tabs {
  float: left;
  margin:0;
  padding: 0;
  width: auto;
  list-style: none;
}
  ul.tabs li {
    position: relative;
    float: left;
    overflow: hidden;
  }
  ul.tabs li h2{
    margin:0;
	  padding:0;
    font-weight: 300;
  }
  ul.tabs li a {
    display: block;
    margin-right:30px;
	padding-bottom:10px;
    color: #999;
    font-size:18px;
  }

  .tabs li a:hover, .tabs li.active a {
	border-bottom:3px solid #4863A0;
    color: #000;
  }
  .tabs li.active a {
    border-bottom:3px solid #4863A0;
    color:#000 !important;
	font-weight:500;
  }
  .tab_container{
    float: left;
    width: 100%;
	border-top:1px solid #eee;
  }
  .tab_container {
    float: left;
    margin: 0px;
    padding: 40px 0 0 0;
  }
  .tab_content {
    float: left;
  }

/* listing */
.home-listing{
  padding:72px 0;
}
.listing-wrapper{
  position:relative;
  float:left;
  overflow:hidden;  
}
.listing{
  margin:0;
  padding:0;
}

.listing-filter{
  float:right;
  border:1px solid #eee;
  border-radius:2px;
  background:#fafafa;
  margin-top:36px;
  font-family:"Proxima Nova";
}
.listing-filter .wrapper-custom-select-box{
	padding:0 10px;	
}
.listing-filter #sort-by{
  width:100px;
  border-left:1px solid #eaeaea;
  background:none;
}
.listing-filter #sort-method{
  width:80px;
  border-left:1px solid #eaeaea;
  background:none;
}
.listing-filter-item{
  display:inline-block;	
}
.listing-filter-item .wrapper-custom-select-box .dropdown{
  top:142%;	
}
.listing-filter-item.label{
  margin-left:5px;
  color:#222;
  font-weight:normal;
  font-size:13px;
}
.listing-filter-item.submit{
  padding:6px;
  min-width:55px;
  border:0;
  border-radius:0px 2px 2px 0px;
  background: url(images/arrow-right-long.png) 50% 50% no-repeat #333;
  color:#fff;
  text-indent:-90000px;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  
  transition:.5s;
}
.listing-filter-item.submit:hover {
  background-color:#444;
}
  .listing-item{
    float: left;
  	margin-bottom:30px;
  	padding:0;
    width: 100%;
  	border-radius:4px;
  	background:#fff;
  	box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
  	list-style:none;
  }
  .listing-item .listing-image, .listing-item .listing-image a{
	overflow:hidden;
    border-radius:4px;
  	border-bottom-right-radius:0;
  	border-bottom-left-radius:0;
  }
  .listing-item .listing-image a{
	position:relative;
	display:block;
	background:#000;
	color:#fff;
	vertical-align:middle;
	text-align:center;
  }
  .listing-item .listing-image a:hover > img, .listing-item .listing-image a:hover + img{
    -webkit-transform:rotate(7deg) scale(1.3);
    -ms-transform:rotate(7deg) scale(1.3);
    transform:rotate(7deg) scale(1.3);
  }
  .listing-item .listing-image.no-image a{
    background:#f2f2f2;
	color:#000;
  }
  .listing-item .listing-image img{
    width:100%;
	  height:auto;
	  border-radius:4px;
	  border-bottom-right-radius:0;
	  border-bottom-left-radius:0;
	  opacity:.5;
	  -webkit-transition: all .2s ease-in-out;
	  -webkit-backface-visibility: hidden;
  }

  .listing-item .icon-overlay {
    position: absolute;
	  z-index:1;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .listing-item .icon-overlay:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
  }
  .listing-image .icon {
    display: inline-block;
    padding-top:18px;
    width:90px;
    height:90px;
    border-radius:100%;
    background: url(images/bg-strip-line.png) 0 -90px no-repeat;
    vertical-align: middle;
  }
  .listing-image.no-image .icon{
	  background: url(images/bg-strip-line.png) 0 0 no-repeat; 
  }
  .listing-item .icon img, .listing-image.no-image .icon img{ max-width:50px; width:auto; height:auto; border-radius:0;opacity:1;}
  .listing-item .listing-content{
    position:relative;
    float: left;
    padding:18px;
    width: 100%;
  }
	.listing-content .meta-author{
	  float:left;
	}
	.listing-content .meta-price{
	  float:right;
	}
	.listing-content .meta-author, .listing-content .meta-price{
	  color:#444;
	  font-size:13px;	
	}
	.listing-content .listing-title {
	  overflow: hidden;
	  max-width: 219px;
	  color:#333;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  font-weight:600;
	  font-size:15px;
	}
	.listing-content .listing-description {
	  color:#888;
	}
  
/* authors */
.authors{
  display: block;
  float: left;
  padding:50px 0;
  width: 100%;
  background: #555;
}
.authors h2{
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  color: #fff;
}
.authors .see-all{
  border:1px solid #454545;
  border-radius:2px;
  background: #454545;
  color:#fff;
}
.authors .see-all:hover{
  background:#999;	
}
.authors .see-all:after{
  margin-left:20px;
  content: url(images/arrow-right-short.png);
}
  .author-item{
    position: relative;
    margin: 0 auto 20px auto;
    max-width: 170px;
    width: 100%;
    text-align: center;
  }
  .author-item h5{
    text-transform: uppercase;
  }
  .author-item img{
    max-width: 150px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .author-item .author-img{
    position: relative;
    display: block;
    float: left;
    margin-bottom: 15px;
    width: 100%;
  }
  .author-item .author-img:after{
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #4863A0;
    color: #fff;
    content: "+";
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .author-item .author-img:hover:after{
	-ms-filter: "FlipH";
	filter: FlipH;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
  }
  
  .author-item img:hover {
	  opacity:0.8;
  }
  
  .author-item .meta-doc{
    display: inline-block;
    padding: 8px 15px 8px 30px;
    max-width: 170px;
    border: 1px solid #777;
    border-radius: 4px;
    background: url(images/icon-docs-white.png) 10px 50% no-repeat;
    font-size: 12px;
  }
  .author-item a{
    color: #fff;
  }

/* how it works */
.how-it-works{
  padding:50px 0;
}
.how-it-works .intro-text{
  margin-bottom: 30px;
  color:#555;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
}
.how-it-works .video{
  position:relative;
  display:block;
  clear:both;
  width:100%;
}
.how-it-works .video > a > img	{
  border-radius:4px;
}

.how-it-works .video .play{
  position:absolute;
  top:0;
  right: 0;
  bottom:0;
  left: 0;
  z-index:9;
  display:table;
  margin:auto;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: url(images/icon-play.png) 55% 50% no-repeat;
  text-align: center;
  line-height: 100px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.how-it-works .video .play:hover{
  border: 5px solid #fff;
  background: url(images/icon-play.png) 55% 50% no-repeat rgba(0,0,0,0.3);
}
.how-it-works .features{
  margin: 0;
  padding: 0; 
}
.how-it-works .features li{
  margin-bottom: 20px;
  list-style: none;
}
.how-it-works .features li .feature-img{
  float: left;
  margin-top: 12px;
  margin-right: 24px;
  width: 80px;
  height: 95px;
  opacity:0.2;
  transition:.5s;
}

.how-it-works .features li .feature-img:hover {
	opacity:0.8;
}

.how-it-works .video, .how-it-works .features{
  margin:20px 0;
}

/* membership */
.membership{
  display: block;
  float: left;
  padding: 50px 0;
  width: 100%;
  background: #fff;
}
  .membership .top-author, .membership .membership-sign-up{
	margin-bottom:60px;
  }
  .membership .top-author-img, .membership .membership-img{
    float: left;
    margin-right: 25px;
    width: 140px;
    height: 140px;
  }
  .membership .membership-img{
	display:table;
    background: #4863A0;
	vertical-align:middle;
	line-height:140px;
  }
  .membership .author-metas{
    position:inherit !important;
	display:inherit !important;
	font-size:12px;
  }
  .membership .author-metas .meta-doc, .membership .author-metas .meta-sales{
	position:relative;
    display:table-cell;
	float:left;
	padding:8px 15px 8px 30px;
	border:1px solid #ccc;
	border-radius:4px;
	white-space:nowrap;
  }
  .membership .author-metas .meta-doc{
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	background: url(images/icon-docs-grey.png) 10px 50% no-repeat;
  }
  .membership .author-metas .meta-sales{
	margin-left:-1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	background: #eee url(images/icon-dollar.png) 10px 50% no-repeat;
  }


/* footer */
footer{
  display:block;
  float:left;
  padding:50px 0;
  width:100%;
  background:url(images/darknoise.jpg);
  color:#999;	
}
footer .marketplace-num{
  margin-bottom:30px;
  font-size:33px;
  font-family:"Proxima Nova";
}
footer .list-nav{
	margin:0 0 20px 0;
	padding:0;	
}
footer .list-nav li{
	list-style:none;
}
footer .list-nav li a{
  display:block;
  padding:5px 0;
  color:#999;
}
footer .list-nav li a:hover{
  color:#fff;
}
footer .newsletter{
  float:left;
  clear:both;
  margin-bottom:20px;
  width:100%;
}
footer .newsletter .group{
  display:block;
  float:left;
  width:100%;	
}
footer .newsletter label{
	font-weight:normal;	
}
footer .newsletter input{
  display:inline-block;
  float:left;
  padding:10px;
  border:none;
  border-radius:4px;
}
footer .newsletter input:first-child{
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}
footer .newsletter input:last-child{
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}
footer .newsletter input.textbox{
	width:80%;
}
footer .newsletter input.submit{
	width:20%;
	background-image: url(images/arrow-right-long.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
	text-indent:-900000px;
}
footer .social{
  clear:both;
  margin:0 0 20px 0;
  padding:0;
}
footer .social li{
  display:inline-block;
  margin-right:10px;
  list-style:none;
}
footer .social li a{
	display:block;
	width:30px;
	height:30px;
	text-indent:-90000px;	
}
footer .social li a.facebook{
  background:url(images/icon-facebook.png) 0 0 no-repeat;
}
footer .social li a.twitter{
  background:url(images/icon-twitter.png) 0 0 no-repeat;
}
footer .social li a.pinterest{
  background:url(images/icon-pinterest.png) 0 0 no-repeat;
}
footer .social li a.rss{
  background:url(images/icon-rss.png) 0 0 no-repeat;
}
footer .social li a:hover{
  background-position:0 -30px;	
}
footer .copyright{
  display:block;
  float:left;
  margin-top:12px;
  padding-top:12px;
  width:100%;
  border-top:1px solid rgba(255, 255, 255, 0.1);
  font-family:"Proxima Nova";
}
footer .footer-nav{
  margin:0 0 10px 0;
  padding:0;	
}
footer .footer-nav li{
  display:inline-block;
  margin-right:15px;
  list-style:none;
}
footer .footer-nav li a{
  color:#999;
}
footer .footer-nav li a:hover, footer .footer-nav li a.active{
  color:#fff;	
}
footer .footer-nav li:after{
  margin-left:15px;
  content:"/";
}
footer .footer-nav li:last-child:after{
  content:"";	
}






/* custom select box */
.wrapper-custom-select-box {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  outline: none;
  background: #fff;
  color: #333;
  text-align:left;
  cursor: pointer;
}

.wrapper-custom-select-box:after {
    position: absolute;
    right: 25px;
    margin-top: -3px;
    width: 0;
    height: 0;
    content: url(images/arrow-down-short-black.png);
    /*top: 50%;
	border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;*/
}

.wrapper-custom-select-box .dropdown {
    position: absolute;
    top: 117%;
    right: 0;
    left: 0;
	z-index:10;
	margin:0;
	padding:0;
    border-radius: inherit;
    border-radius: 0 0 2px 2px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    list-style: none;
    font-weight: normal;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    pointer-events: none;
}
.wrapper-custom-select-box .dropdown > li{
	padding:8px 16px;
}
.wrapper-custom-select-box .dropdown > li:hover {
	background: #f1f1f1;
}
.wrapper-custom-select-box .dropdown:after {
    position: absolute;
    right: 15px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
    content: "";    
}

.wrapper-custom-select-box .dropdown:before {
    position: absolute;
    right: 13px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(156, 156, 156, 0.1) transparent;
    content: "";    
}

.wrapper-custom-select-box .dropdown li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    color: #8aa8bd;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-custom-select-box .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-custom-select-box .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-custom-select-box .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

.wrapper-custom-select-box .dropdown li:hover a {
    background: #f3f8f8;
}

.wrapper-custom-select-box.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.no-opacity       .wrapper-custom-select-box .dropdown,
.no-pointerevents .wrapper-custom-select-box .dropdown {
    display: none;
    opacity: 1; 
    pointer-events: auto; 
}

.no-opacity       .wrapper-custom-select-box.active .dropdown,
.no-pointerevents .wrapper-custom-select-box.active .dropdown {
    display: block;
}


/* button */
.btn-default{
  background:none;
}
.btn-small{
  padding:8px 30px 5px;
  font-size:14px;
}
.btn-medium{
  padding:10px 35px;
  font-size:18px;
}
.btn-double-border{
  border-width:2px;
}
.border-blue{
  border-color:#4863A0;
}

.text-blue{
	color:#4863A0;
}
.text-white{
  color:#fff !important;	
}
.text-black{
  color:#000;	
}
.btn-background-blue{
  background-color:#4863A0;
  color:#fff;
}

.lead {
	color:#555;
}

/*misc*/
.rounded-img{
  border-radius: 50%;
}